@import "tailwindcss";

@font-face {
    font-family: 'IRANYekanX';
    src: url('assets/IranYekanX/IRANYekanX-Light.ttf');
}

* {
    font-style: normal;
    font-family: 'IRANYekanX', sans-serif;
}


@theme {
    --color-brand: #EC5201;
    --color-bgBrand: #FEF6E6;
    --color-topbar: rgba(0, 0, 0, 0.5);
    --color-borderL: rgba(0, 0, 0, 0.2);
    --color-register: #FFF6E7;
    --color-registerDark: #F9CFB4;
    --color-btn: rgba(255, 255, 255, 0.82);
    --color-btnFooter: #DE3402;
    --color-backSite: rgba(0, 0, 0, 0.41);
    --color-brandDark: rgba(236, 82, 1, 0.35);
    --color-fade: rgba(0, 0, 0, 0.88);
}

::-webkit-scrollbar{
    padding: 0.5rem;
    width: 6px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background: #EC5201;
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    border-radius: 20px;
    background: #fff;
    width: 25px;
}

.main-header__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-header__product {
    position: relative;
}

.main-header__dropdown {
    position: absolute;
    top: 1rem;
    left: 0;
    background-color: #fff;
    transition: all 200ms ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
    z-index: 999;
    padding: 1rem 0;
    opacity: 0;
    visibility: hidden;
}

.main-header__dropdown-product {
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: #fff;
    transition: all 200ms ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
    z-index: 999;
    width: 83vw;
    padding: 1rem 0;
    opacity: 0;
    visibility: hidden;
}

.main-header__item:hover .main-header__dropdown {
    opacity: 1;
    visibility: visible;
    top: 4rem;
}

.main-header__product:hover .main-header__dropdown-product {
    opacity: 1;
    visibility: visible;
    top: 5rem;
}

html,
body {
    position: relative;
    height: 100%;
}

.back-linearGradiant {
    background: linear-gradient(45deg, #f39509, #DE3402)
}

.box-user:hover span {
    @apply text-white
}

.box-user:hover button {
    @apply text-white bg-brand
}

.box-down-main:hover .footer-title--box {
    color: #EC5201;
}

.box-down-main:hover .box-img-footer-box {
    @apply border-brand
}

.box-img-blog:hover .box-img-after {
    transition: ease-in-out all 0.3s;
    opacity: 1;
}

.swiper {
    width: 100%;
    height: 100%;
}

.mySwiper5 {
    height: auto;
    max-height: 500px;
}

.swiper-slide {
    text-align: center;
    height: calc((100% - 30px) / 2) !important;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-shadow--items {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.box-shadow--items--box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box-products {
    @media screen and (min-width: 642px) {
        background: url("../assets/Subtract-1-BnzdiKZC.png") no-repeat center center;
    }
    @media screen and (max-width: 642px) {
        background: url("../assets/Subtract-2.png") no-repeat center center;
    }
}

.box-products--images {
    background: url("../assets/Group-1df0898-6kftKVMr.png") no-repeat center center;
}

.grid-custom {
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.title-blog {
    padding-right: 1rem !important;
    position: relative;
}

.title-blog-footer {
    position: relative;
}

.title-blog::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 2rem;
    border-radius: 5px;
    background: #EC5201;
}

.title-blog-footer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 2rem;
    border-radius: 5px;
    background: #EC5201;
}

.mySwiper-blog .swiper-slide {
    width: 19rem !important;
    height: 32rem;
}

.mySwiper-blog .swiper-slide--large {
    @media screen and (max-width: 700px) {
        display: none;
    }
    width: 50rem !important;
}

.contact-up-image {
    @media screen and (max-width: 650px) {
        display: none;
    }
}

.menu-footer li {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 1rem;
}

.menu-footer li:before {
    content: "";
    position: absolute;
    background: rgba(51, 51, 51, 0.45);
    top: 0.7rem;
    right: 0;
    width: 8px;
    height: 4px;
    border-radius: 20px;
    transition: ease-in-out all 0.3s;
}

.menu-footer li:hover:before {
    background: linear-gradient(45deg, #f39509, #DE3402)
}

.grid-custom-box--footer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
}

.img-banner {
    opacity: 0.5;
}

.title-footer-response {
    position: relative;
}

.title-footer-response::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    right: 0;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: linear-gradient(45deg, #f39509, #DE3402)
}

.grid-custom-box-footer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    @media screen and (max-width: 500px) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    @media screen and (max-width: 420px) {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    }
}

.grid-custom-box-items {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1.5rem;
    @media screen and (max-width: 390px) {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }
}

.grid-box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
}

/* حالت اولیه سایدبار */
#sidebar-main {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

/* پس‌زمینه تار (زمانی که بازه) */
#sidebar-main.active {
    opacity: 1;
    visibility: visible;
}

/* انیمیشن کشویی برای خود سایدبار */
#sidebar {
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#sidebar-main.active #sidebar {
    transform: translateX(0);
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-size: 1rem;
    color: #EC5201;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #ffaa33;
}